<%= form_for [:admin, @copywriting_phrase] do |f| -%>
  <%= hidden_field_tag :switch_locale, @current_locale %>

  <%= render :partial => "/shared/admin/error_messages", :locals => {
          :object => @copywriting_phrase,
          :include_object_name => true
        } %>
  
  <div class='field'>
    <%= f.label :value, f.object.name.capitalize -%>
    <% case f.object.phrase_type %>
    <% when "text" %>
      <%= f.text_area :value, :rows => 12, :class => 'widest' -%>
    <% when "wysiwyg" %>
      <%= f.text_area :value, :rows => 5, :class => 'widest wymeditor' -%>
    <% else %>
      <%= f.text_field :value, :class => 'widest larger' -%>
    <% end %>
  </div>

  <%= render :partial => "/shared/admin/form_actions",
              :locals => {
                :f => f,
                :continue_editing => false,
                :delete_title => t('delete', :scope => 'admin.copywriting.phrase'),
                :delete_confirmation => t('message', :scope => 'shared.admin.delete', :title => @copywriting_phrase.name)
              } %>
<% end -%>
